body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

img {
    max-width: 100%;
}

h1 {
    color: #fff;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    margin-right: 30px;
}